@charset "UTF-8";

:root {
  --color-white: #FFFDFA;
  --color-gray: #A19B9B;
  --color-gray-rgba: 161, 155, 155;
  --color-green: #749880;
  --color-brown: #926E56;
  --color-darkbrown: #36312F;
  --color-yellow: #D0BF88;
  --color-yellow-rgba50: rgba(208, 191, 136, 0.5);
  /*D0BF8850 */
  --color-pink: #D47789;
  --line-height-default: 1.5;
  --letter-spacing-default: 0.05em;
}

html {
  font-family: 'Salsa', 'Klee One', cursive;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-darkbrown);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-default);

  @media (width < 768px) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-default);
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.pc {
  display: block;

  @media (width < 768px) {
    display: none;
  }
}

.tab {
  display: none;

  @media (width < 1024px) {
    display: block;
  }
}

.sp {
  display: none;

  @media (width < 768px) {
    display: block;
  }
}

.bg-brown {
  background-color: var(--color-brown);
}

.bg-green {
  background-color: var(--color-green);
}

.bg-white {
  background-color: var(--color-white);
}

body:not(.top) {
  main {
    padding-top: 88px;
  }
}

.c-sec-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.c-round-button-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  min-width: 160px;
  height: 48px;
  border: 1px solid var(--color-darkbrown);
  border-radius: 25px;
  transition: color .4s ease-in, border-width .4s;

  &:hover {
    color: var(--color-white);
    border-width: 24px;

    @media (width < 768px) {
      border-width: 22px;
    }
  }

  @media (width < 1023px) {
    min-width: 0;
  }

  @media (width < 768px) {
    width: 144px;
    height: 44px;
  }
}

.c-round-button-frame-resv {
  color: var(--color-white);
  border: 1px solid var(--color-white);

  &:hover {
    color: var(--color-darkbrown);
  }
}

.ms-right {
  right: 0 !important;
}

.ms-tableCell {
  @media (width < 768px) {
    vertical-align: top;
  }
}

.fv {
  position: relative;
  overflow: hidden;

  .ms-tableCell {
    position: absolute;
    top: 0;

    video {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.ms-left .fv {
  .ms-tableCell {
    left: 0;

    video {
      left: 0;
    }
  }
}

.ms-right .fv {
  .ms-tableCell {
    right: 0;

    video {
      right: 0;
    }
  }
}


.top-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 85%;
  transform: translate(-50%, -50%);
}

.ms-section:not(.fv) {
  .top-text-wrapper {
    @media (width < 768px) {
      top: 75%;
    }
  }
}

.ms-section.contact {
  .top-text-wrapper {
    @media (width < 768px) {
      top: unset;
      bottom: 10%;
      transform: translate(-50%);
    }
  }
}

.top-logo {
  margin-bottom: 64px;

  @media (width < 768px) {
    margin-bottom: 40px;
  }

  img {
    width: 320px;

    @media (width < 768px) {
      width: 280px;
    }
  }
}

.top-button-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  max-width: 100%;
  height: 64px;
  border: 1px solid var(--color-darkbrown);
  font-size: 1.25rem;
  font-weight: 600;
  transition: ease .2s;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform-origin: right top;
    transform: scale(0, 1);
  }

  &:hover {
    &::before {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }

  @media (width < 768px) {
    width: 280px;
    height: 56px;
    font-size: 16px;
  }
}

.top-button-frame-resv {
  border: 1px solid var(--color-white);

  &::before {
    background-color: var(--color-darkbrown);
  }

  p {
    color: var(--color-white);
  }
}

.top-button-text {
  z-index: 1;
}

.top-section-title {
  margin-bottom: 32px;
  font-size: 2.5rem;
  color: var(--color-white);
  text-align: center;

  @media (width < 768px) {
    font-size: 32px;
  }
}

.ms-left {
  @media (width < 768px) {
    width: 100% !important;
  }

  .top-sp-img {
    height: 50%;
  }

  .ms-section.contact {
    background-position: left;
    background-size: 200% 100%;
    background-repeat: no-repeat;

    @media (width < 768px) {
      background-size: 150% 100%;
    }
  }

  .contact {
    background-image: url('../img/yogamat_single.jpg');
  }

  @supports (background-image: url('../img/yogamat_single.webp')) {
    .contact {
      background-image: url('../img/yogamat_single.webp');
    }
  }
}

.ms-left .top-sp-img,
.ms-right .ms-section:not(.fv) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.ms-right .ms-section.stadio,
.ms-left .stadio .top-sp-img {
  background-image: url('../img/yogastudio.jpg');

  @supports (background-image: url('../img/yogastudio.webp')) {
    background-image: url('../img/yogastudio.webp');
  }
}

.ms-right .ms-section.price,
.ms-left .price .top-sp-img {
  background-image: url('../img/yogamat_multi.jpg');
  background-position: 38% 50%;

  @supports (background-image: url('../img/yogamat_multi.webp')) {
    background-image: url('../img/yogamat_multi.webp');
  }
}

.ms-right .ms-section.instructor,
.ms-left .instructor .top-sp-img {
  background-image: url('../img/yogainstructor_bw.jpg');

  @supports (background-image: url('../img/yogainstructor_bw.webp')) {
    background-image: url('../img/yogainstructor_bw.webp');
  }
}

.ms-right .ms-section.class,
.ms-left .class .top-sp-img {
  background-image: url('../img/lesson.jpg');
  background-position: 66% 50%;

  @supports (background-image: url('../img/lesson.webp')) {
    background-image: url('../img/lesson.webp');
  }
}

.ms-right .ms-section.contact,
.ms-left .contact .top-sp-img {
  background-image: url('../img/yogamat_single.jpg');
  background-position: right;
  background-size: 200% 100%;

  @supports (background-image: url('../img/yogamat_single.webp')) {
    background-image: url('../img/yogamat_single.webp');
  }
}

.scrolldown {
  position: absolute;
  right: 24px;
  bottom: 16px;
  height: calc(2rem + 32px);

  span {
    color: var(--color-white);
  }

  &::after {
    content: "";
    position: absolute;
    top: 2rem;
    left: 50%;
    width: 1px;
    height: 32px;
    background-color: var(--color-white);
    transform: translate(-50%);
    animation: downanim 1.6s ease-in-out infinite;
  }
}

@keyframes downanim {
  0% {
    height: 0;
    opacity: 0;
  }

  30% {
    height: 32px;
    opacity: 1;
  }

  100% {
    height: 0;
    top: calc(2rem + 32px);
    opacity: 0;
  }
}

.contact {
  .top-logo {
    margin-bottom: 24px;
  }
}

.top-address-content {
  margin-bottom: 40px;
  font-family: 'Klee One';
}

#multiscroll-nav {
  &.right {
    right: 12px;

    @media (width < 768px) {
      right: 0;
    }
  }

  li {
    width: 12px;
    height: 12px;
    margin: 12px;

    span {
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      border: 1px solid var(--color-white);
    }

    .active {
      span {
        background-color: var(--color-white);
      }
    }
  }
}

header {
  position: fixed;
  width: calc(100% - 16px);
  height: 80px;
  margin: 8px 8px 0 8px;
  padding: 0 32px;
  border-radius: 16px;
  background-color: var(--color-yellow-rgba50);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 100;
}

.nav-pc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .nav-content {
    display: flex;
    align-items: center;
    gap: 32px;
  
    @media (width < 1024px) {
      margin-right: 16px;
      margin-left: auto;
    }
  }

  .nav-item {
    white-space: nowrap;
  
    @media (width < 1024px) {
      display: none;
    }
  }

  .nav-icon {
    position: relative;

  }
}

.header-logo {
  display: inline-block;
  width: 120px;
  margin-right: 16px;
}

.nav-item {
  &.current {
    opacity: 0.4;
  }

  a {
    position: relative;

    &:hover {
      .nav-text {
        opacity: 0;
      }

      .nav-text-hover {
        opacity: 1;
      }
    }
  }
}

.nav-text {
  transition: opacity .4s;
}

.nav-text-hover {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%);
  transition: opacity .4s;
}

.nav-icon {
  width: 16px;
  height: 8px;
  cursor: pointer;

  span {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-darkbrown);
    transition: transform .4s;
  }

  span:nth-of-type(1) {
    top: 0;
  }

  span:nth-of-type(2) {
    top: 8px;
  }

  &.active {
    span:nth-of-type(1) {
      transform: translateY(4px) rotate(-45deg);
    }

    span:nth-of-type(2) {
      transform: translateY(-4px) rotate(45deg);
    }
  }
}

.nav-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-yellow-rgba50);
  opacity: 0;
  z-index: -1;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  cursor: none;

  &.active {
    opacity: 1;
    z-index: 999;
    cursor: auto;
  }
}

.nav-sp {
  overflow-y: scroll;

  .nav-content {
    height: 100vh;
    padding-top: 96px;
    text-align: center;
  }
  .nav-item {
    margin-bottom: 16px;
  }

  .nav-icon{
    position: fixed;
    top: 44px;
    right: 40px;
  }

  .c-round-button-frame {
    margin: 32px auto 0;
  }

}

.trial {
  padding: 64px 0 80px;
  text-align: center;

  @media (width < 768px) {
    padding-top: 40px;
  }
}

.trial-fst-text {
  margin-top: 8px;
  margin-bottom: 56px;
  @media (width < 768px) {
    margin-bottom: 32px;
  }
}

.trial-fstprice-img {
  padding-inline: 16px;

  @media (width < 768px) {
    width: 400px;
  }
}

.trial-ticket-wrapper {
  display: block;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  margin: 48px auto 80px;
  letter-spacing: 0.1em;
  animation: ticket-float 4s ease-in-out infinite alternate;
}

@keyframes ticket-float {
  0% { 
    transform: translate3d(0,0.5vw,0) scale(0.92) rotateZ(5deg);
  }

  50% { 
    transform: translate3d(0,-0.5vw,0) scale(1.0) rotateZ(-5deg);
  }

  100% {
    transform: translate3d(0,0.5vw,0) scale(0.92) rotateZ(5deg);
  }
}

.ticket-click-text {
  font-size: 1.5rem;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
}

.trial-ticket {
  position: relative;
  display: block;
  width: 440px;
  height: 112px;
  margin: auto;
  font-family: "Noto Sans JP", cursive;

  @media (width < 768px) {
    width: 320px;
  }

}

.ticket-left {
  position: absolute;
  width: calc(75% - 2.5px);
  height: 100%;
  padding: 8px;
  border-radius: 4px 0 0 4px;
  background-color: var(--color-white);
  box-shadow: 0 0 8px rgba(var(--color-gray-rgba), 0.5);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 4px;
    height: 100%;
    border-top: solid 36px var(--color-white);
    border-bottom: solid 36px var(--color-white);
    background-color: var(--color-darkbrown);
    clip-path: path('M4,118v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2V2c-1.1,0-2-.9-2-2H0V120H2c0-1.1,.9-2,2-2Z');
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    width: 16px;
    height: 40px;
    background-color: var(--color-darkbrown);   
  }

  @media (width < 768px) {
    &::before {
      border-top: solid 40px var(--color-white);
      border-bottom: solid 40px var(--color-white);
    }

    &::after {
      width: 16px;
      height: 32px;
    }
  }
}

.ticket-left-text-sub {
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    top: calc(8px + 1.5em);
    left: 0;
    width: calc(8px + 3em);
    height: 1px;
    background-color: var(--color-green);
  }
}

.ticket-left-text-main {
  padding-left: 24px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 2em;
  text-align: left;

  @media (width < 768px) {
    padding-top: 8px;
    padding-left: 8px;
    font-size: 24px;
  }

}

.ticket-barcode {
  position: absolute;
  top: 0;
  right: 32px;
  bottom: 0;
  margin: auto 0;
  width: 32px;
  height: 16px;
  border-top: solid 2px var(--color-white);
  border-bottom: solid 4px var(--color-white);
  background-color: var(--color-darkbrown);
  box-shadow: 0 -3px var(--color-darkbrown), 0 -5px var(--color-white), 0 -7px var(--color-darkbrown), 0 -10px var(--color-white), 0 -12px var(--color-darkbrown), 0 -13px var(--color-white), 0 -16px var(--color-darkbrown), 0 -18px var(--color-white), 0 -24px var(--color-darkbrown), 0 1px var(--color-darkbrown), 0 2px var(--color-white), 0 3px var(--color-darkbrown), 0 4px var(--color-white), 0 6px var(--color-darkbrown), 0 7px var(--color-white), 0 10px var(--color-darkbrown), 0 12px var(--color-white), 0 14px var(--color-darkbrown), 0 16px var(--color-white), 0 17px var(--color-darkbrown), 0 18px var(--color-white), 0 19px var(--color-darkbrown), 0 21px var(--color-white), 0 24px var(--color-darkbrown), 0 25px var(--color-white), 0 26px var(--color-darkbrown);

  @media (width < 768px) {
    right: 24px;
    width: 28px;
  }
}

.ticket-arrow {
  position: absolute;
  top: 0;
  right: 16%;
  bottom: 0;
  margin: auto 0;
  width: 24px;
  height: 24px;
  background-color: var(--color-green);

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: -16px;
    width: 16px;
    height: 20px;
    background-color: var(--color-green);
  }

  &::before {
    top: -7px;
    transform-origin: bottom right;
    transform: skew(30deg);
  }

  &::after {
    bottom: -8px;
    transform-origin: top right;
    transform: skew(-30deg);
  }
}

.ticket-right {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(25% - 3px);
  height: 100%;
  border-radius: 0 4px 4px 0;
  background-color: var(--color-green);
  box-shadow: 0 0 8px rgba(var(--color-gray-rgba), 0.5);
  transform-origin: bottom left;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 4px;
    height: 100%;
    border-top: solid 36px var(--color-green);
    border-bottom: solid 36px var(--color-green);
    background-color: var(--color-darkbrown);
    transform: rotate(180deg);
    clip-path: path('M4,118v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2v-4c-1.1,0-2-.9-2-2s.9-2,2-2V2c-1.1,0-2-.9-2-2H0V120H2c0-1.1,.9-2,2-2Z');
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    width: 64px;
    height: 40px;
    background-color: var(--color-darkbrown);
  }

  @media (width < 768px) {
    &::before {
      border-top: solid 40px var(--color-green);
      border-bottom: solid 40px var(--color-green);
    }

    &::after {
      width: 40px;
      height: 32px;
    }
  }
}

.ticket-right-text {
  position: absolute;
  top: 50%;
  right: -8px;
  height: 1.5em;
  color: var(--color-white);
  letter-spacing: 0.2em;
  z-index: 1;
  transform: translate(0, -50%) rotate(-90deg);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -18px;
    border-top: solid 0 transparent;
    border-bottom: solid 12px var(--color-green);
  }

  &::before {
    border-left: solid 0 transparent;
    border-right: solid 22px transparent;
    left: 12px;
  }

  &::after {
    border-left: solid 22px transparent;
    border-right: solid 0 transparent;
    right: 12px;
  }
}

.ticket-text-note {
  margin-top: 8px;
  text-align: left;
}

.trial-ticket-wrapper:hover .trial-ticket {
  animation: ticket-move .4s ease;
  animation-fill-mode: forwards;
}

.trial-ticket-wrapper:hover .ticket-right {
  animation: ticket-cut .4s ease-out;
  animation-fill-mode: forwards;
}

@keyframes ticket-move {
  0% {
    transform: scaleY(0.98) scaleX(1.02);
  }

  30% {
    transform: scaleY(0.98) scaleX(1.02);
  }

  50% {
    transform: scaleY(1) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes ticket-cut {
  0% {
    top: 0;
    right: 0;
    transform: rotate(0);
  }

  30% {
    top: 0;
    right: 0;
    transform: rotate(0);
  }

  50% {
    top: 0;
    right: 0;
    transform: rotate(35deg);
  }

  100% {
    top: 8px;
    right: -8px;
    transform: rotate(45deg);
  }
}

.trial-info-text-wrapper {
  display: flex;
  justify-content: center;
  font-family: 'Klee One', cursive;
}

.trial-info-text-inner {
  text-align: left;
  padding-inline: 16px;
}

.trial-info-title {
  margin-bottom: 1rem;
  text-align: center;
}

.trial-info-dtl-title {
  margin: 1.5rem 0 1rem;
  font-weight: 600;
}

.trial-info-dtl-list {
  padding-left: 0.5em;
  list-style: disc inside;
}

.trial-info-dtl-list li{
  list-style: inherit;
}

.trial-info-dtl-text {
  margin-bottom: 1em;
}

.trial-info-dtl-note {
  margin-top: 1em;
}

footer {
  padding-block: 40px;
  color: var(--color-white);
  text-align: center;
}

.footer-main-title {
  margin-bottom: 16px;
}

.footer-main-text {
  padding-inline: 16px;
}

.footer-price-title {
  margin-top: 40px;
}

.footer-price-text-left {
  padding-right: 0.5em;
}

.footer-price-text-num {
  font-size: 32px;
}

footer .c-round-button-frame {
  margin: 24px auto 0;
}

.footer-logo {
  display: inline-block;
  width: 160px;
  margin: 40px 0 16px;
}

.footer-address-content {
  font-family: 'Klee One', cursive;
}
 